<nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: #d1e8ff;">
	<div class="container-fluid">
			<a class="navbar-brand text-white-900 font-weight-bold" href="/">FinFriend</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
					{% if request.user.is_authenticated %}
							<ul class="navbar-nav mr-auto">
									<li class="nav-item">
											<a class="nav-link text-blue-900" href="{% url 'transaction_report' %}">Report</a>
									</li>
									<li class="nav-item">
											<a class="nav-link text-blue-900" href="{% url 'deposit_money' %}">Deposit</a>
									</li>
									<li class="nav-item">
											<a class="nav-link text-blue-900" href="{% url 'withdraw_money' %}">Withdraw</a>
									</li>
									<li class="nav-item">
											<a class="nav-link text-blue-900" href="{% url 'loan_request' %}">Loan Request</a>
									</li>
							</ul>
							<span class="navbar-text text-blue-900 font-weight-bold">
									Welcome, {{ request.user.first_name }} (balance : {{request.user.account.balance}})
							</span>
							<ul class="navbar-nav ml-auto">
									<li class="nav-item">
											<a class="btn btn-primary mx-2" href="{%url 'profile' %}">Profile</a>
									</li>
									<li class="nav-item">
											<a class="btn btn-primary mx-2" href="{%url 'logout'%}">Logout</a>
									</li>
							</ul>
					{% else %}
							<ul class="navbar-nav ml-auto">
									<li class="nav-item">
											<a class="btn btn-primary mr-2" href="{%url 'login'%}">Login</a>
									</li>
									<li class="nav-item">
											<a class="btn btn-primary" href="{%url 'register'%}">Register</a>
									</li>
							</ul>
					{% endif %}
			</div>
	</div>
</nav>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
